In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl

In [2]:
print(np.arange(10))

[0 1 2 3 4 5 6 7 8 9]

In [3]:
import pymongo
import pprint

In [4]:
client = pymongo.MongoClient('127.0.0.1',27017)
#client = pymongo.MongoClient('mongodb://localhost:27017')

In [5]:
mydb = client['employee']
information = mydb.employeeInformation

record={
       'firstname' : 'Shubham',
       'lastname' : 'Gupta',
       'age' : 24,
        'Place' : 'Delhi'
       }

ins = information.insert_one(record)
if ins.acknowledged:
    print('Record added with id :', ins.inserted_id)

Record added with id : 5e633510e7862b1a39184fc0

In [6]:
many_records = [{
    'name' : 'Shubham',
    'Age' : 25,
    'Company' : 'Bank Of America',
    'Place' : 'Gurgaon'
 },
{
    'name' : 'John',
    'Age' : 27,
    'Company' : 'Mphasis',
    'Place' : 'Mumbai'
},
{   
    'name' : 'Rahul',
    'Age' : 35,
    'Company' : 'KKHH',
    'Place' : 'INDIA'
}
,
{   
    'name' : 'Karishma',
    'Age' : 29,
    'Company' : 'KKK',
    'Place' : 'SPAIN'
}
]

In [7]:
information.insert_many(many_records)

In [8]:
res = information.find()

for out in res:
    print(out) # Use pprint.pprint for seeing results in a pretty format

{'_id': ObjectId('5e3fd36611e14aafa603618d'), 'name': 'John', 'Age': 25, 'Company': 'Mphasis', 'Place': 'Mumbai'}
{'_id': ObjectId('5e3fd53311e14aafa603618e'), 'name': 'Shubham', 'Age': 25, 'Company': 'Bank Of America', 'Place': 'Gurgaon'}
{'_id': ObjectId('5e3fd53311e14aafa603618f'), 'name': 'John', 'Age': 25, 'Company': 'Mphasis', 'Place': 'Mumbai'}
{'_id': ObjectId('5e3fd57811e14aafa6036190'), 'firstname': 'Ravi', 'lastname': 'Gupta'}
{'_id': ObjectId('5e49219272a4f1b15a1ae7a6'), 'firstname': 'Ravi', 'lastname': 'Gupta', 'age': 24, 'Place': 'Delhi'}
{'_id': ObjectId('5e49219372a4f1b15a1ae7a7'), 'name': 'Shubham', 'Age': 25, 'Company': 'Bank Of America', 'Place': 'Gurgaon'}
{'_id': ObjectId('5e49219372a4f1b15a1ae7a8'), 'name': 'John', 'Age': 27, 'Company': 'Mphasis', 'Place': 'Mumbai'}
{'_id': ObjectId('5e49219372a4f1b15a1ae7a9'), 'name': 'Rahul', 'Age': 35, 'Company': 'KKHH', 'Place': 'INDIA'}
{'_id': ObjectId('5e49219372a4f1b15a1ae7aa'), 'name': 'Karishma', 'Age': 29, 'Company': 'KKK', 'Place': 'SPAIN'}
{'_id': ObjectId('5e633510e7862b1a39184fc0'), 'firstname': 'Shubham', 'lastname': 'Gupta', 'age': 24, 'Place': 'Delhi'}
{'_id': ObjectId('5e63351be7862b1a39184fc1'), 'name': 'Shubham', 'Age': 25, 'Company': 'Bank Of America', 'Place': 'Gurgaon'}
{'_id': ObjectId('5e63351be7862b1a39184fc2'), 'name': 'John', 'Age': 27, 'Company': 'Mphasis', 'Place': 'Mumbai'}
{'_id': ObjectId('5e63351be7862b1a39184fc3'), 'name': 'Rahul', 'Age': 35, 'Company': 'KKHH', 'Place': 'INDIA'}
{'_id': ObjectId('5e63351be7862b1a39184fc4'), 'name': 'Karishma', 'Age': 29, 'Company': 'KKK', 'Place': 'SPAIN'}

In [9]:
res = information.find_one({'firstname': 'Shubham'})
#res = information.find_one()
print(res)

{'_id': ObjectId('5e633510e7862b1a39184fc0'), 'firstname': 'Shubham', 'lastname': 'Gupta', 'age': 24, 'Place': 'Delhi'}

In [10]:
#Delete (delete_one , delete_many)
#r = information.delete_one({'name' : 'Shubham' , 'Age' : 25})
r = information.delete_one({'firstname' : 'Shubham'})

In [11]:
#Update

output = information.update(
{'firstname' : 'Shubham'},{"$set":{'firstname' : 'Ravi'}}
)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  after removing the cwd from sys.path.

In [12]:
#COunt number of documemnts
count = information.count_documents({})
print(count)

13

In [13]:
#TO drop any collection from database
#information.drop()

In [13]:
for k in information.find({}):
    print(k)

{'_id': ObjectId('5e3fd36611e14aafa603618d'), 'name': 'John', 'Age': 25, 'Company': 'Mphasis', 'Place': 'Mumbai'}
{'_id': ObjectId('5e3fd53311e14aafa603618e'), 'name': 'Shubham', 'Age': 25, 'Company': 'Bank Of America', 'Place': 'Gurgaon'}
{'_id': ObjectId('5e3fd53311e14aafa603618f'), 'name': 'John', 'Age': 25, 'Company': 'Mphasis', 'Place': 'Mumbai'}
{'_id': ObjectId('5e3fd57811e14aafa6036190'), 'firstname': 'Ravi', 'lastname': 'Gupta'}
{'_id': ObjectId('5e49219272a4f1b15a1ae7a6'), 'firstname': 'Ravi', 'lastname': 'Gupta', 'age': 24, 'Place': 'Delhi'}
{'_id': ObjectId('5e49219372a4f1b15a1ae7a7'), 'name': 'Shubham', 'Age': 25, 'Company': 'Bank Of America', 'Place': 'Gurgaon'}
{'_id': ObjectId('5e49219372a4f1b15a1ae7a8'), 'name': 'John', 'Age': 27, 'Company': 'Mphasis', 'Place': 'Mumbai'}
{'_id': ObjectId('5e49219372a4f1b15a1ae7a9'), 'name': 'Rahul', 'Age': 35, 'Company': 'KKHH', 'Place': 'INDIA'}
{'_id': ObjectId('5e49219372a4f1b15a1ae7aa'), 'name': 'Karishma', 'Age': 29, 'Company': 'KKK', 'Place': 'SPAIN'}
{'_id': ObjectId('5e63351be7862b1a39184fc1'), 'name': 'Shubham', 'Age': 25, 'Company': 'Bank Of America', 'Place': 'Gurgaon'}
{'_id': ObjectId('5e63351be7862b1a39184fc2'), 'name': 'John', 'Age': 27, 'Company': 'Mphasis', 'Place': 'Mumbai'}
{'_id': ObjectId('5e63351be7862b1a39184fc3'), 'name': 'Rahul', 'Age': 35, 'Company': 'KKHH', 'Place': 'INDIA'}
{'_id': ObjectId('5e63351be7862b1a39184fc4'), 'name': 'Karishma', 'Age': 29, 'Company': 'KKK', 'Place': 'SPAIN'}

In [14]:
for j in information.find({'Age':{'$gt':27}}):
    print(j)

{'_id': ObjectId('5e49219372a4f1b15a1ae7a9'), 'name': 'Rahul', 'Age': 35, 'Company': 'KKHH', 'Place': 'INDIA'}
{'_id': ObjectId('5e49219372a4f1b15a1ae7aa'), 'name': 'Karishma', 'Age': 29, 'Company': 'KKK', 'Place': 'SPAIN'}
{'_id': ObjectId('5e63351be7862b1a39184fc3'), 'name': 'Rahul', 'Age': 35, 'Company': 'KKHH', 'Place': 'INDIA'}
{'_id': ObjectId('5e63351be7862b1a39184fc4'), 'name': 'Karishma', 'Age': 29, 'Company': 'KKK', 'Place': 'SPAIN'}

In [15]:
for j in information.find({'Age':{'$lt':27}}):
    print(j)

{'_id': ObjectId('5e3fd36611e14aafa603618d'), 'name': 'John', 'Age': 25, 'Company': 'Mphasis', 'Place': 'Mumbai'}
{'_id': ObjectId('5e3fd53311e14aafa603618e'), 'name': 'Shubham', 'Age': 25, 'Company': 'Bank Of America', 'Place': 'Gurgaon'}
{'_id': ObjectId('5e3fd53311e14aafa603618f'), 'name': 'John', 'Age': 25, 'Company': 'Mphasis', 'Place': 'Mumbai'}
{'_id': ObjectId('5e49219372a4f1b15a1ae7a7'), 'name': 'Shubham', 'Age': 25, 'Company': 'Bank Of America', 'Place': 'Gurgaon'}
{'_id': ObjectId('5e63351be7862b1a39184fc1'), 'name': 'Shubham', 'Age': 25, 'Company': 'Bank Of America', 'Place': 'Gurgaon'}

In [16]:
for j in information.find({'Age':{'$ne':27}}):
    print(j)

{'_id': ObjectId('5e3fd36611e14aafa603618d'), 'name': 'John', 'Age': 25, 'Company': 'Mphasis', 'Place': 'Mumbai'}
{'_id': ObjectId('5e3fd53311e14aafa603618e'), 'name': 'Shubham', 'Age': 25, 'Company': 'Bank Of America', 'Place': 'Gurgaon'}
{'_id': ObjectId('5e3fd53311e14aafa603618f'), 'name': 'John', 'Age': 25, 'Company': 'Mphasis', 'Place': 'Mumbai'}
{'_id': ObjectId('5e3fd57811e14aafa6036190'), 'firstname': 'Ravi', 'lastname': 'Gupta'}
{'_id': ObjectId('5e49219272a4f1b15a1ae7a6'), 'firstname': 'Ravi', 'lastname': 'Gupta', 'age': 24, 'Place': 'Delhi'}
{'_id': ObjectId('5e49219372a4f1b15a1ae7a7'), 'name': 'Shubham', 'Age': 25, 'Company': 'Bank Of America', 'Place': 'Gurgaon'}
{'_id': ObjectId('5e49219372a4f1b15a1ae7a9'), 'name': 'Rahul', 'Age': 35, 'Company': 'KKHH', 'Place': 'INDIA'}
{'_id': ObjectId('5e49219372a4f1b15a1ae7aa'), 'name': 'Karishma', 'Age': 29, 'Company': 'KKK', 'Place': 'SPAIN'}
{'_id': ObjectId('5e63351be7862b1a39184fc1'), 'name': 'Shubham', 'Age': 25, 'Company': 'Bank Of America', 'Place': 'Gurgaon'}
{'_id': ObjectId('5e63351be7862b1a39184fc3'), 'name': 'Rahul', 'Age': 35, 'Company': 'KKHH', 'Place': 'INDIA'}
{'_id': ObjectId('5e63351be7862b1a39184fc4'), 'name': 'Karishma', 'Age': 29, 'Company': 'KKK', 'Place': 'SPAIN'}

In [18]:
mydoc = information.find().sort("name", -1) #-1 is for descending order , 1 for ascending

for x in mydoc:
  print(x)

{'_id': ObjectId('5e3fd53311e14aafa603618e'), 'name': 'Shubham', 'Age': 25, 'Company': 'Bank Of America', 'Place': 'Gurgaon'}
{'_id': ObjectId('5e49219372a4f1b15a1ae7a7'), 'name': 'Shubham', 'Age': 25, 'Company': 'Bank Of America', 'Place': 'Gurgaon'}
{'_id': ObjectId('5e63351be7862b1a39184fc1'), 'name': 'Shubham', 'Age': 25, 'Company': 'Bank Of America', 'Place': 'Gurgaon'}
{'_id': ObjectId('5e49219372a4f1b15a1ae7a9'), 'name': 'Rahul', 'Age': 35, 'Company': 'KKHH', 'Place': 'INDIA'}
{'_id': ObjectId('5e63351be7862b1a39184fc3'), 'name': 'Rahul', 'Age': 35, 'Company': 'KKHH', 'Place': 'INDIA'}
{'_id': ObjectId('5e49219372a4f1b15a1ae7aa'), 'name': 'Karishma', 'Age': 29, 'Company': 'KKK', 'Place': 'SPAIN'}
{'_id': ObjectId('5e63351be7862b1a39184fc4'), 'name': 'Karishma', 'Age': 29, 'Company': 'KKK', 'Place': 'SPAIN'}
{'_id': ObjectId('5e3fd36611e14aafa603618d'), 'name': 'John', 'Age': 25, 'Company': 'Mphasis', 'Place': 'Mumbai'}
{'_id': ObjectId('5e3fd53311e14aafa603618f'), 'name': 'John', 'Age': 25, 'Company': 'Mphasis', 'Place': 'Mumbai'}
{'_id': ObjectId('5e49219372a4f1b15a1ae7a8'), 'name': 'John', 'Age': 27, 'Company': 'Mphasis', 'Place': 'Mumbai'}
{'_id': ObjectId('5e63351be7862b1a39184fc2'), 'name': 'John', 'Age': 27, 'Company': 'Mphasis', 'Place': 'Mumbai'}
{'_id': ObjectId('5e3fd57811e14aafa6036190'), 'firstname': 'Ravi', 'lastname': 'Gupta'}
{'_id': ObjectId('5e49219272a4f1b15a1ae7a6'), 'firstname': 'Ravi', 'lastname': 'Gupta', 'age': 24, 'Place': 'Delhi'}

In [19]:
#regex command with many_delete
myquery = { "Company": {"$regex": "^M"} }

#x = information.delete_many(myquery)

#print(x.deleted_count, " documents deleted.")

In [23]:
#Limit command
myresult = information.find({"firstname" : "Ravi"}).limit(1)

#print the result:
for x in myresult:
  print(x)

{'_id': ObjectId('5e3fd57811e14aafa6036190'), 'firstname': 'Ravi', 'lastname': 'Gupta'}

In [24]:
# Skip command

myresult = information.find({"firstname" : "Ravi"}).limit(1).skip(1)

#print the result:
for x in myresult:
  print(x)

{'_id': ObjectId('5e49219272a4f1b15a1ae7a6'), 'firstname': 'Ravi', 'lastname': 'Gupta', 'age': 24, 'Place': 'Delhi'}

In [43]:
# Sort command (sort should be a list of key-direction pairs)

for j in (information.find({}, {"name": 1,"_id":0}).sort([("name",1),("age",-1)])):
    print(j)

{}
{}
{'name': 'John'}
{'name': 'John'}
{'name': 'John'}
{'name': 'John'}
{'name': 'Karishma'}
{'name': 'Karishma'}
{'name': 'Rahul'}
{'name': 'Rahul'}
{'name': 'Shubham'}
{'name': 'Shubham'}
{'name': 'Shubham'}

In [54]:
information.create_index([("name", 1 or -1)])

information.create_index([("Company",1)])

'Company_1'

In [55]:
for i in information.list_indexes():
    print(i)

SON([('v', 2), ('key', SON([('_id', 1)])), ('name', '_id_'), ('ns', 'employee.employeeInformation')])
SON([('v', 2), ('key', SON([('name', 1)])), ('name', 'name_1'), ('ns', 'employee.employeeInformation')])
SON([('v', 2), ('key', SON([('Company', 1)])), ('name', 'Company_1'), ('ns', 'employee.employeeInformation')])